@page
@model IndexModel
@{
    ViewData["HomePage"] = "Home page";
}
<div class = "parentBackground">
            <img class = "imageBackground" src="images/Studio background.jpg"width="1875" height="500">
                <div class="welcomeText">
                    <div class="firstLine">Welcome to </div>
                    <div class="secondLine">DuelSys</div>
                    <div class="thirdLine">Tournaments</div>
         <img class = "Clipart" src="images/Badminton Clitpart.png">
    </div>
 </div>

     <div class = "description">
        <div class = "wantToJoinTournament">Want to join a Tournament ?</div>

        <hr class = "line">

        <div class = "submenu-container">
            <div class = "box">
                <h2 class="items">First Step</h2>
                <p class = "items-info">
                    Create an account and Login.
                </p>
             </div>

             <div class = "box">
                <h2 class="items">Second Step</h2>
                <p class = "items-info">
                    Search for an available tournament.
                </p>
             </div>

             <div class = "box">
                <h2 class="items">Third Step</h2>
                <p class = "items-info">
                    Register yourselves to an available tournament.
                </p>
             </div>
        </div>
    </div>

    <div class = "faq">FAQ</div>
